<form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('parallel_devs_project_management_add_new_users')}}'>
   
   {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'Full Name'}}) }}<br>

   {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}<br>
   
   {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Your Email'}}) }}<br>
   
   {{ form_widget(form.usersGroup, {'attr': {'class': 'form-control', 'placeholder':'Your ID GROUP'}}) }}<br>

   {{ form_widget(form.photo, {'attr': {'class': 'form-control', 'placeholder':'Your photo'}}) }}<br>
   
   
   <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
   <button class="btn btn-lg btn-primary btn-block" type="reset">Close</button>
</form>