{% extends 'base.html.twig' %}
{% block body %}
        
<form class="form-signin" name='register_form' id='register_form' method='post' action="{{path('add_edit_user' , {'id': id_user})}}">
   
   <label>Active ? </label>{{ form_widget(form.active) }}<br> 
   
   <label>Full Name: </label>{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'Full Name'}}) }}<br>

   <label>Password: </label>{{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}<br>
   
   <label>Email: </label>{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Your Email'}}) }}<br>
   
   <label>User Group: </label>{{ form_widget(form.usersGroup, {'attr': {'class': 'form-control', 'placeholder':'Your ID GROUP'}}) }}<br>

   <label>Photo: </label>{{ form_widget(form.photo, {'attr': {'class': 'form-control', 'placeholder':'Your photo'}}) }}<br>   
   
   <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
   <button class="btn btn-lg btn-primary btn-block" type="reset">Close</button>
   
</form>
{% endblock %}