{% extends 'base.html.twig' %}
{% block body %}
<h1>Listado de Usuarios</h1>
<table>        
        <tr>
            <th>Action</th>
            <th>Id</th> 
            <th>Name</th>      
            <th>Email</th>             
        </tr>
        
{% for Users in users %}     
        <tr>
            <td><a href="{{ path('delete_users', { 'id': Users.id } )}}">Delete</td>
            <td><a href="{{ path('edit_users', { 'id': Users.id } )}}">Edit</td>
            <td>{{ Users.id }}</td>
            <td>{{ Users.name }}</td>
            <td>{{ Users.email }}</td>             
        </tr>            
{% endfor %}
</table>  
{% endblock %}