{% extends '::layout.html.twig' %}

{% block page_title -%} Create New Ticket Comment {% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="box box-primary">
            {{ form_start(form, {'attr': {'role' : 'form'}}) }}

            <div class="box-body">
                {{ form_errors(form) }}
                {{ form_row(form._token) }}

                <div class="form-group">
                    {{ form_label(form.ticketStatus) }}
                    {{ form_errors(form.ticketStatus) }}
                    {{ form_widget(form.ticketStatus) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.ticketType) }}
                    {{ form_errors(form.ticketType) }}
                    {{ form_widget(form.ticketType) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.department) }}
                    {{ form_errors(form.department) }}
                    {{ form_widget(form.department) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.user) }}
                    {{ form_errors(form.user) }}
                    {{ form_widget(form.user) }}
                </div>

                <div class="form-group">

                        {% for team in team %}
                            <input type="checkbox">
                                {{ team.username }}
                            </input>
                        {% endfor %}

                </div>


                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
