{% extends '::layout.html.twig' %}

{% block content %}
<div class="col-md-12">
    <div class="box box-primary">
        {{ form_start(edit_form, {'attr': {'role' : 'form'}}) }}
        <div class="box-header">
            <h3 class="box-title">Project Comment Edit</h3>
            <div class="box-tools">

                <a href="{{ path('project_comment', { 'project_id': entity.id }) }}">
                    Back to the list
                </a>
            </div>
        </div>
        <div class="box-body">
            {{ form_errors(edit_form) }}

            <div class="form-group">
                {{ form_label(edit_form.projectStatus) }}
                {{ form_errors(edit_form.projectStatus) }}
                {{ form_widget(edit_form.projectStatus) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.projectType) }}
                {{ form_errors(edit_form.projectType) }}
                {{ form_widget(edit_form.projectType) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.description) }}
                {{ form_errors(edit_form.description) }}
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control textarea', 'placeholder': 'The Project description'}}) }}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {{ form_end(edit_form) }}

    </div>
</div>
{% endblock %}
