{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Projects Edit Information</h1>
<form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('add_edit_project' , {'id': id_project})}}'>
    
   <label>Type: </label>{{ form_widget(form.projectsTypes) }}<br>   
   <label>Status: </label>{{ form_widget(form.projectsStatus) }}<br>
   <label>Name: </label>{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'Name'}}) }}<br>   
   <label>Select The Team: </label><br>   
   {% for u in users %}       
       {% if u.id in options %}       
       <input type="checkbox" checked id="projects_team_{{u.id}}" name="projects[team][]" value="{{u.id}}"> <label for="projects_team_{{u.id}}">{{u.name}}</label>    
    {% else %}        
       <input type="checkbox" id="projects_team_{{u.id}}" name="projects[team][]" value="{{u.id}}"> <label for="projects_team_{{u.id}}">{{u.name}}</label>         
    {% endif%}    
   {% endfor %}       
   <br><label>Description: </label>{{ form_widget(form.description) }}<br>    
   <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
   <button class="btn btn-lg btn-primary btn-block" type="reset">Close</button>   
</form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('projects_index') }}">
            Back to the list of Projects. 
        </a>
    </li>
</ul>
{% endblock %}