{% extends '::base.html.twig' %}
{% block body -%}
    <h1>Projects list</h1>    
    <ul>
        <li>
            <a href="{{ path('projects_create') }}">
                Add new Project
            </a>
        </li>
    </ul>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Team</th>
                <th>Createdat</th>
                <th>Ordertasksby</th>
                <th>Actions</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entity %}
            <tr>
                <td><a href="{{ path('projects_show_specific', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.team }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.orderTasksBy }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('projects_show_specific', { 'id': entity.id }) }}">show Details</a>
                    </li>
                    <li>
                        <a href="{{ path('projects_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('projects_delete', { 'id': entity.id }) }}">Delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>        
    {% endblock %}