{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Projects creation</h1>

<li>
        <a href="{{ path('projects_users_list') }}">
            Select the Team
        </a>
</li>
    
<form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('projects_process')}}'>
    
   <label>Type: </label>{{ form_widget(form.projectsTypes) }}<br> 
   
   <label>Status: </label>{{ form_widget(form.projectsStatus) }}<br>

   <label>Name: </label>{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'Name'}}) }}<br>
   
   <br><label>Select Team: </label><br/>
   
    {% for Users in users %}        
        <input name="select" type = "checkbox"/>
            {{ Users.name }}
        <br/>
                   
   {% endfor %}
   
   <!--<label>Created At: </label>{#{{ form_widget(form.createdAt) }}#}<br>-->   
      
   <label>Description: </label>{{ form_widget(form.description) }}<br> 
   
   <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
   <button class="btn btn-lg btn-primary btn-block" type="reset">Close</button>
   
</form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projects_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
