{% extends '::layout.html.twig' %}

{% block page_title -%}User list{% endblock %}

{% block content -%}

    <div class="col-xs-12">
        <div class="box box-primary">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Groups</th>
                    <th>Last Login</th>
                    <th>Enable</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><img src="/{{ entity.getWebPath }}" alt="" width="50"></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.email }}</td>
                        <td>Groups</td>
                        <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                        <td>{{ entity.enabled }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a class="fa fa-edit" href="{{ path('admin_user_show', { 'id': entity.id }) }}"></a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                Create a new User
            </a>
        </li>
    </ul>
{% endblock %}
