{% extends '::layout.html.twig' %}

{% block page_title -%} Tasks Priority List {% endblock %}

{% block content %}

    <div class="col-xs-12">
        <div class="box box-primary">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>Icon</th>
                        <td>{{ entity.icon }}</td>
                    </tr>
                    <tr>
                        <th>Sortorder</th>
                        <td>{{ entity.sortOrder }}</td>
                    </tr>
                    <tr>
                        <th>Defaultvalue</th>
                        <td>{{ entity.defaultValue }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ entity.active }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('config_task_priority') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
