{% extends '::layout.html.twig' %}

{% block page_title -%} Project List {% endblock %}

{% block content %}
    
    <ul>
        <li>
            <a class="btn btn-block btn-primary btn-xs">
                Show Version
            </a>
        </li>
    </ul>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Ordertaskby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.orderTaskBy }}</td>
                <td>
                <ul>
                    <li>
                        <a class="fa fa-list"  href="{{ path('project_show', { 'id': entity.id }) }}"></a>
                    </li>
                    <li>
                        <a class="fa fa-edit" href="{{ path('project_edit', { 'id': entity.id }) }}"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a class="btn btn-block btn-primary btn-xs" href="{{ path('project_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
