{% extends '::layout.html.twig' %}

{% block page_title -%} Create New Project{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box box-primary">
            {{ form_start(form, {'attr': {'role' : 'form'}}) }}
            <div class="box-header">
                <h3 class="box-title">Create New Project</h3>
                <div class="box-tools">

                    <a href="{{ path('project') }}">
                        Back to the list
                    </a>
                </div>
            </div>
            <div class="box-body">
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter the Project name'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control textarea', 'placeholder': 'The Project description'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.team) }}
                    {{ form_errors(form.team) }}
                    {% for form_team in form.team %}
                        <div class="checkbox">
                            {{ form_widget(form_team) }}
                            {{ form_label(form_team) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form_label(form.projectStatus) }}
                    {{ form_errors(form.projectStatus) }}
                    {{ form_widget(form.projectStatus, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.projectType) }}
                    {{ form_errors(form.projectType) }}
                    {{ form_widget(form.projectType, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
