{% extends '::layout.html.twig' %}

{% block page_title -%} Version List {% endblock %}

{% block content %}
    

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                        
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('version', { 'project_id': entity.project.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.dueDate %}{{ entity.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                  <li>
                        <a href="{{ path('version', { 'project_id': entity.id  }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('version_edit', { 'project_id': entity.id  }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>

        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('version_new', { 'project_id': entity.project.id }) }}">
                Create a new entry
            </a>
        </li>
    </ul>
        {% endfor %}
    {% endblock %}
