{% extends '::layout.html.twig' %}

{% block page_title -%} Create New Task Group {% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="box box-primary">
            {{ form_start(form, {'attr': {'role' : 'form'}}) }}
            <div class="box-header">
                <div class="box-tools">
                </div>
            </div>

            <div class="box-body">
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter the name'}}) }}
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

