{% extends '::layout.html.twig' %}

{% block page_title -%} Task Comment List {% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-filter"></i>
                <h3 class="box-title">Filters</h3>
            </div>
            <div class="box-body pad table-responsive">
                Here will go the filters
            </div><!-- /.box -->
        </div>
    </div>

    <div class="col-xs-12">
        <div class="box box-primary">
            <table class="records_list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Duedate</th>
                        <th>Workedhours</th>
                        <th>Description</th>
                        <th>Createdat</th>
                        <th>Progress</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('task_comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{% if entity.dueDate %}{{ entity.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.workedHours }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.progress }}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('task_comment_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('task_comment_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
